@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "poppins", sans-serif;
  background-image: url("Snow.jpg");
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.countdown-container {
  display: flex;
}
h1 {
  font-size: 4rem;
  margin-top: -15rem;
}
.big-text {
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}
.countdowns {
  text-align: center;
}
.countdowns span {
  font-size: 1.5rem;
}
.newYear h1 {
  text-align: center;
}
